@import "../../assets/style/mixin.scss";

.homes {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding-top: 15vh;

  .titleContents {
    text-align: center;
    width: 92%;
    @include screen(820px) {
      width: 100%;
    }
    hr {
      width: 30px;
      padding-bottom: 5px;
      background-color: #ccc;
      margin: 0 auto;
      border: none;
      border-radius: 10px;
    }
    h1 {
      font-size: 2.3rem;
      letter-spacing: 3px;
      text-align: center;
      color: #111;
      font-weight: 800;
    }
    p {
      color: #333;
      font-size: 1.4rem;
      text-align: center;
      width: 72%;
      margin: 0 auto;
      line-height: 1.6;
    }

    
  }

  .block {
    width: 70%;
    height: 90vh;
    margin: 0 auto;
    background-color: aliceblue;
    position: absolute;
    top: 40%;
    left: 15%;
    @include screen(1024px){
      width: 100%;
    }
  }

  .contact_form {
    width: 80%;
    border-radius: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 34px;

    @include screen(1024px){
      flex-direction: column;
      width: 100%;
      align-items: center;
    }
    .imag {
      width: 30vw;
      height: 45vh;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 50%;

      @include screen(1024px){
        width: 55vw;
        height: 65vh;
      }
    }

    .inp_form {
      width: 60%;
      box-shadow: rgb(100 100 111 / 20%) 0 7px 29px 0;
      background: #fff;
      padding: 4rem;
      margin-top: 6rem;
      max-width: 80rem;
      text-align: left;
      border-radius: 5px;
      margin: 5rem auto 0 auto;

      @include screen(1024px){
        width: 100%;
      }

      label {
        color: #666;
        font-size: 1.2rem;
        line-height: 40px;
        letter-spacing: 1px;
        font-weight: 700;
        margin-bottom: 1rem;
        text-align: left;
        
      }

      input {
        height: 8vh;
        color: #333;
        padding: 2rem;
        width: 100%;
        border: 1px solid #ebebeb;
        font-size: 1.3rem;
        letter-spacing: 0;
        background: #f0f0f0;
        border-radius: 5px;
        font-weight: 300;
        outline: none;
      }
      button {
        padding: 15px 40px;
        background-color: #111;
        color: #fff;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
        border: none;
        font-weight: 600;
        letter-spacing: 1.5px;
        border-radius: 5px;
        box-shadow: 0 5px 15px 0 rgb(0 0 0 / 15%);
        margin-top: 20px;
        float: right;

        &:hover {
          cursor: pointer;
          background-color: #ccc;
          color: #111;
        }
      }
    }
  }
}
